<div class="container">
    <app-menu-bar [rol]="usuarioRol"></app-menu-bar>

    <div class="components">
        <h1 class="title">Elegir criterios</h1>
        <div *ngFor="let category of categories">
            <app-dropdown-menu [categoryName]="category.category" [options]="category.options"
            (checkboxSelected)="onCheckboxSelected($event)"></app-dropdown-menu>
        </div>

        <h3>Nombres Seleccionados:</h3>
        <ul>
        <li *ngFor="let selectedCriterion of selectedCriteria">{{ selectedCriterion }}</li>
        </ul>
        <button (click)="onNextButtonClick()" class="nextButton">Siguiente</button>
    </div>
</div>
