.container {
    background-color: #D9D9D9;
}

.components {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
}

.nextButton {
  position: fixed;
  bottom: 100px; 
  right: 100px;
  background-color: #AEACAC;
  cursor: pointer;
  padding: 20px 40px;
  font-size: 20px;
}

.title {
  margin-top: 40px;
  margin-bottom: 60px;
  font-size: 30px;
  font-family: 'Inter', serif;
}